{% extends 'layouts/base.html' %}

{% block title %}Modifier une réservation{% endblock %}

{% block content %}
    <h2>Modifier une réservation</h2>

    <form action="{% url 'reservations:reservation_edit' reservation.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PUT">
        <table>{{ form.as_table }}</table>
        <button>Modifier</button>
        <a href="{% url 'reservations:show_reservation' reservation.id %}">Annuler</a>
    </form>

    <nav><a href="{% url 'reservations:reservation_index' %}">Retour à l'index</a></nav>
{% endblock %}
