<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>Projet réservations - {% block title %}Bienvenue{% endblock %}</title>
</head>
<body>
<div class="container">
    <header>
        <div style="float:right">
            {% if request.user.is_authenticated %}
            <p>Bonjour {{ request.user.username }} !</p>
            <p><a href="{% url 'accounts:user-profile' %}">Mon profil</a></p>

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Se déconnecter</button>
            </form>
            {% else %}
            <p>Vous n'êtes pas connecté.</p>
            <p><a href="{% url 'login' %}">Se connecter</a></p>
            <p><a href="{% url 'accounts:user-signup' %}">S'inscrire</a></p>
            {% endif %}
        </div>

        <nav>
            <a href="{% url 'reservations:index' %}">Accueil</a> |
            <a href="{% url 'reservations:artist_index' %}">Artistes</a> |
            <a href="{% url 'reservations:type_index' %}">Types</a> |
            <a href="{% url 'reservations:locality_index' %}">Localités</a> |
            <a href="{% url 'reservations:location_index' %}">Lieux</a> |
            <a href="{% url 'reservations:show_index' %}">Spectacles</a> |
            <a href="{% url 'reservations:representation_index' %}">Représentations</a> |
            <a href="{% url 'reservations:review_index' %}">Critiques</a> |
            <a href="{% url 'reservations:press_article_index' %}">Critiques presse</a> |
            {% if request.user.is_authenticated %}
            <a href="{% url 'reservations:reservation_index' %}">Mes réservations</a> |
            {% endif %}
            <a href="{% url 'reservations:contact' %}">Contact</a> |
            <a href="{% url 'reservations:about' %}">À propos</a>
            {% if request.user.is_superuser or perms.reservations.change_review %}
            | <a href="{% url 'reservations:producer_dashboard' %}">Espace producteur</a>
            {% endif %}
            {% if request.user.is_superuser or perms.reservations.add_show %}
            | <a href="{% url 'reservations:dashboard' %}">Tableau de bord</a>
            {% endif %}
            {% if request.user.is_superuser %}
            | <a href="{% url 'admin:index' %}">Administration</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <div id="notification">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        {% block content %}{% endblock %}
    </main>
    <footer>&copy; Projet Réservations | <a href="{% url 'reservations:representations_feed' %}">Flux RSS des représentations</a></footer>
</div>
</body>
</html>
