{% extends 'layouts/base.html' %}

{% block title %}Ajouter un type{% endblock %}

{% block content %}
    <h2>Ajouter un type</h2>

    <form action="{% url 'reservations:type_create' %}" method="post">
        {% csrf_token %}
        <table border="1" cellspacing="0">{{ form.as_table }}</table>
        <button>Ajouter</button>
        <a href="{% url 'reservations:type_index' %}">Annuler</a>
    </form>

    <nav><a href="{% url 'reservations:type_index' %}">Retour à l'index</a></nav>
{% endblock %}
