{% extends 'layouts/base.html' %}

{% block title %}Ajouter une localité{% endblock %}

{% block content %}
    <h2>Ajouter une localité</h2>

    <form action="{% url 'reservations:locality_create' %}" method="post">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button>Ajouter</button>
        <a href="{% url 'reservations:locality_index' %}">Annuler</a>
    </form>

    <nav><a href="{% url 'reservations:locality_index' %}">Retour à l'index</a></nav>
{% endblock %}
