{% extends 'layouts/base.html' %}

{% block title %}Liste des localités{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    {% if perms.reservations.add_locality %}
    <ul>
        <li><a href="{% url 'reservations:locality_create' %}">Ajouter</a></li>
    </ul>
    {% endif %}

    <table border="1" cellspacing="0">
        <thead>
            <tr><th>Code postal</th><th>Localité</th></tr>
        </thead>
        <tbody>
        {% for locality in localities %}
            <tr>
                <td>{{ locality.postal_code }}</td>
                <td><a href="{% url 'reservations:show_locality' locality.id %}">{{ locality.locality }}</a></td>
            </tr>
        {% empty %}
            <tr><td colspan="2">Aucune localité dans la base de données.</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
