{% extends "layouts/base.html" %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
    <h2>Nouveau mot de passe</h2>

    {% if validlink %}
    <form method="post">
        {% csrf_token %}
        <table border="1" cellspacing="0">
        <tr>
            <td>{{ form.new_password1.label_tag }}</td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password2.label_tag }}</td>
            <td>{{ form.new_password2 }}</td>
        </tr>
        </table>

        {% if form.errors %}
        <p>{{ form.errors }}</p>
        {% endif %}

        <button type="submit">Changer le mot de passe</button>
    </form>
    {% else %}
    <p>Ce lien de réinitialisation n'est plus valide. Vous pouvez en redemander un.</p>
    <p><a href="{% url 'password_reset' %}">Mot de passe oublié</a></p>
    {% endif %}
{% endblock %}
