{% extends 'layouts/base.html' %}

{% block title %}Liste des artistes{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    <ul>
        <li><a href="{% url 'reservations:artist_create' %}">Ajouter</a></li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.firstname }}</td>
                <td><a href="{% url 'reservations:show_artist' artist.id %}">{{ artist.lastname }}</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">Aucun artiste dans la base de données.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
